@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-50: #e5e5e5;
  --gray-100: #8d8d8d;
  --gray-200: #282828;
  --gray-300: #232323;
  --blue-500: #1b2543;
  --yellow-500: #f6c010;
}

@theme inline {
  --color-background: var(--white);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-blue-500: var(--blue-500);
  --color-yellow-500: var(--yellow-500);
  --font-sans: var(--font-inter);
  --text-lg: 1.75rem;
  --text-xl: 2rem;
  --text-2xl: 2.5rem;
  --text-3xl: 2.75rem;
  --text-4xl: 3.375rem;
  --text-5xl: 3.5rem;
  --radius-5xl: 2.5rem;
}

body {
  background: var(--white);
  color: var(--gray-100);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
